* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

body {
  min-height: 400px;
  margin-bottom: 20px;
}

nav {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  background-image: url("../images/landingpg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.jumbotron h1 {
  margin-top: 100px;
}

.jumbotron h1,
.jumbotron p {
  color: rgb(255, 255, 255);
  padding-left: 20px;
  font-size: 30px;
}

.jumbotron p {
  font-size: 60px;
}

#resumeImg {
  margin-left: 150px;
}

#galbody,
#contactsection {
  margin-top: 150px;
}

#galbody {
  margin-bottom: 150px;
}

#contactsection {
  width: 700px;
}

#bodyimg {
  background-image: url("../images/bckgrd-contactmepg-01.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  color: white;
  background-color: rgb(52, 0, 100);
  position: fixed;
  clear: both;
  bottom: 0;
  margin-top: 100px;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 20px;
}
